@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
	margin:0;
	padding:0;
}

html {
	background-image:url('../images/background.jpg');
	height:100%;
	background-size: cover;
	color:black;
	text-shadow: 0 0 2px white;
	font-size:30px;
	font-family: 'Satisfy', cursive;
}

h1 {
	text-align:center;
}

.container {
	margin:20px auto;
	width:900px;
	background-color: rgba(255,255,200,.2);
	border-radius: 25px;
}

.flex {
	display:flex;
	flex-basis: auto;
	flex-direction: row;
	flex-basis: 0;
	justify-content: space-between;
}

input[type=text], input[type=number] {
	background-color: rgba(10,10,10,0);
	text-align: center;
	font-size: 30px;
	font-family: 'Satisfy', cursive;
	border: none;
	border-bottom: 2px solid gray;
	border-radius: 4px;
}

#add-player {
	margin: auto;
	display:block;
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
	padding: 10px;
	cursor: pointer;
	border-radius:5px;
	background-color: aquamarine;
	box-shadow: 0 9px black;
}


#add-player:hover{
	background-color: aqua;
}

.flex div {
	margin: 10px;
}

.skill input{
	width: 100px;
}

.skill label{
	display:block
}

.lock {
	height: 60px;
}

.lock:hover {
	opacity: 0.8;
}
.stat {
	position: relative;
	height: 30px;
	margin: 5px;

}
.stats {
	margin: auto;
	width: 400px;
	height: 200px;
	justify-content: center;
}

.stat p {
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	left:10px;
}

.stat img {
	height: 120px;
	opacity: 50%;
}

.poutine {
	color:red
}

.green{
	color:green
}

.dark {
	color:darkorange
}