<html>
	<head>
		<meta charset="UTF-8">
		<title>Epic quest</title>
		<link rel="stylesheet" href="css/global.css">
		<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
	</head>
	<body>
		<div class="container" id="vue-el">
			<h1>La quête mystik des dragons perdus</h1>
			<button id='add-player' v-if="showAddPlayer" @click="addPlayer()">Ajouter un joueur</button>
			<div v-for="joueur in players" class="flex">
				<div>
					<label for="nom">Nom du héro : {{joueur.name}}</label>
					<br>
					<input type="text" name="nom" v-model="joueur.name" :disabled="joueur.locked">
				</div>
				<div class="skill">
					<label for="Force">Force</label>
					<input type="number" name="Force" min="0" v-model="joueur.force" :disabled="joueur.locked">
				</div>
				<div class="skill">
					<label for="Force">Agilité</label>
					<input type="number" name="Agilité" min="0" v-model="joueur.agility" :disabled="joueur.locked">
				</div>
				<div class="skill">
					<label for="Force">Arcane</label>
					<input type="number" name="Arcane" min="0" v-model="joueur.arcane" :disabled="joueur.locked">
				</div>
				<div>
					<label for="Left">
						<span :class="[ usedPoints(joueur) < 0 ? 'poutine' : 'green']">{{usedPoints(joueur)}}</span> points restants
					</label>
				</div>
				<div>
					<input @click=savePlayer(joueur) class="lock" type="image" src="images/lock.png" alt="Sauvegarder">
				</div>
			</div>
			
			<div class="stats flex">
				<div class="stat">
					<p>{{attackValue}}</p>
					<img src="images/sword.png" alt="attack">
				</div>
				<div class="stat">
					<p>{{defenseValue}}</p>
					<img src="images/shield.png" alt="magic">
				</div>
				<div class="stat">
					<p>{{arcaneValue}}</p>
					<img src="images/penta.png" alt="magic">
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el: "#vue-el",
				data:{
					// Un objet player vide s'écrit ainsi
					// On voit que roll va prendre la valeur que le résultat de rollDices va retourner
					// À son initialisation
					// {name:'', force:0, agility:0, arcane:0, roll: this.rollDices(), locked:false}
					// L'attribut locked permet de mettre les inputs disabled
					players: []
				},
				methods: {
					addPlayer() {
						this.players.push({name:'', 
						force:0, 
						agility:0, 
						arcane:0, 
						roll: this.rollDices(), 
						locked:false})
					},
					savePlayer(j) {
						if(j.name == ""){
							alert("Le nom est pas entré")
						} else if (this.usedPoints(j) != 0) {
							alert("Il faut utiliser tous les points")
						} else {
							j.locked = true
						}
					},
					rollDices() {
						return Math.ceil(Math.random()*6) + Math.ceil(Math.random()*6)
					},
					usedPoints(j) {
						return j.roll - j.force - j.agility - j.arcane
					}
				},
				computed: {
					showAddPlayer() {
						return this.players.length < 3
					},
					attackValue() {
						let total = 0
						this.players.forEach(p => {
							total+= Number.parseInt(p.force)
						});
						return total
					},
					defenseValue() {
						let total = 0
						this.players.forEach(p => {
							total+= Number.parseInt(p.agility)
						});
						return total
					},
					arcaneValue() {
						let total = 0
						this.players.forEach(p => {
							total+= Number.parseInt(p.arcane)
						});
						return total
					}
				}
			})
		</script>
	</body>
</html>